.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 110;

  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  box-shadow: none;
}

.backdrop {
  position: fixed;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;

  background-color: #000000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.backdrop.open {
  opacity: 0.7;
  pointer-events: all;
}
