.button {
  font: inherit;

  padding: 0.5rem;
  background-color: #ffffff;
  border: 1px solid #464646;
  border-radius: 0.3rem;
  cursor: pointer;
}

.button:disabled {
  color: #464646;

  background-color: #dfdfdf;
  cursor: not-allowed;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.warning {
  background-color: orange;
}

.info {
  background-color: blue;
}
